{% extends 'main/base.html' %}

{% block title %}Host Profile{% endblock %}

{% block content %}
<div class="host-profile-page">
    <div class="container">
        <h1>{{ host.username }}'s Profile</h1>

        <div class="host-profile-info">
            <p><strong>Username:</strong> {{ host.username }}</p>

            {% if profile.profile_picture %}
                <p><strong>Profile Picture:</strong> <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" width="100"></p>
            {% else %}
                <p><strong>Profile Picture:</strong> <img src="/static/default-avatar.png" alt="Default Avatar" width="100"></p>
            {% endif %}

            <p><strong>Email:</strong> {{ host.email }}</p>
            <p><strong>Phone Number:</strong> {{ profile.phone_number }}</p>
            <p><strong>Location:</strong> {{ profile.location }}</p>
        </div>

        <div class="host-profile-actions">
            <a href="https://wa.me/{{ host.profile.phone_number }}?text=Hi, I am interested in your activity {{ activities.title }}." target="_blank" class="btn btn-outline-primary w-100 mt-3">
                Contact Host via WhatsApp
            </a>
        </div>
    </div>
</div>
{% endblock %}
