{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-page">
        <div class="login-container">
            <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>

            <div class="no-account">
                <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a></p>
            </div>
        </div>
    </div>
{% endblock %}
