{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}
{% load static %}

{% block content %}


    <div class="login-container">
        <div class="login-form">
            <h2 class="login-title">Login</h2>
            <form method="POST" class="login-form-fields">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="login-button">Login</button>
            </form>

            <div class="register-link">
                <p>Don't have an account? <a href="{% url 'accounts:register' %}" class="register-link-text">Register here</a></p>
            </div>
        </div>
    </div>
{% endblock %}
