
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Your Profile{% endblock %}

{% block content %}
    <!-- Profile Page Container -->
    <div class="profile-page">
        <div class="profile-container">
            <h2>Welcome, {{ user.username }}</h2>

            <div class="profile-details">
                <p><strong>Profile Picture:</strong>
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" width="100">
                    {% else %}
                        <img src="/static/default-avatar1.png" alt="Default Avatar" width="100">
                    {% endif %}
                </p>

                <p><strong>Wallet Balance:</strong> ${{ user.profile.wallet_balance }}</p>
                <p><strong>Phone Number:</strong> {{ user.profile.phone_number }}</p>
                <p><strong>Location:</strong> {{ user.profile.location }}</p> <!-- Display location -->
            </div>

            <div class="action-links">
                <a href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
                <a href="{% url 'accounts:logout' %}" class="logout">Logout</a>
                <a href="{% url 'payment:card_payment_view' %}">Add wallet</a>
            </div>
        </div>
    </div>

{% endblock %}
