{% extends 'main/base.html' %}


{% block title %}Your Profile{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">

{% block content %}
    <div class="profile-page">
        <div class="profile-container">
            <h2>{{ user.username }}</h2>

            <div class="profile-details">
                <p><strong>Profile Picture:</strong>
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" width="100">
                    {% else %}
                        <img src="/static/default-avatar.png" alt="Default Avatar" width="100">
                    {% endif %}
                </p>

                <p><strong>Wallet Balance:</strong> ${{ user.profile.wallet_balance }}</p>
                <p><strong>Phone Number:</strong> {{ user.profile.phone_number }}</p>
                <p><strong>Location:</strong> {{ user.profile.location }}</p>
                <p><strong>Recent Activity:</strong></p>
            </div>

            <div class="profile-actions">
                <a href="{% url 'accounts:edit_profile' %}">Edit</a>
                <a href="{% url 'payment:card_payment_view' %}" >payment</a>
                <a href="{% url 'accounts:logout' %}" class="logout">Logout</a>
            </div>
        </div>
    </div>
{% endblock %}
