{% extends 'main/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
<div class="register-page">
    <div class="register-container">
        <div class="existing-account">
            <p>Already have an account? <a href="{% url 'accounts:login' %}">Login here</a></p>
        </div>
        <h2>Register</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="register-form-fields">
                <label for="id_username">Username:</label>
                {{ form.username }}
                <label for="id_email">Email address:</label>
                {{ form.email }}
                <label for="id_first_name">First name:</label>
                {{ form.first_name }}
                <label for="id_phone_number">Phone Number:</label>
                {{ form.phone_number }}
                <label for="id_password">Password:</label>
                {{ form.password }}
                <label for="id_location">Location:</label>
                {{ form.location }}
                <button type="submit" class="register-button">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
