{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="dashboard-container">
    
    <div class="dashboard-sidebar">
        <div class="sidebar-header">
            <img src="{{ user.profile.profile_picture.url }}" alt="Profile" class="rounded-circle mb-3">
            <h4>{{ user.profile.user.first_name }}</h4>
            <p class="text-muted">@{{ user.profile.user.username }}</p>
        </div>
        <ul class="sidebar-nav">

            <li>
                <a href="javascript:void(0);" onclick="showSection('activities')"><i class="bi bi-calendar-event me-2"></i>My Activities</a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="showSection('booked_activities')"><i class="bi bi-calendar-event me-2"></i>My Booked Activities</a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="showSection('requests')"><i class="bi bi-envelope me-2"></i>Requests
                    <span class="badge bg-primary ms-2">{{ user.activities.count }}</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="dashboard-main">
        <div class="dashboard-header">
            <h1>Dashboard</h1>
            <a href="{% url 'activities:new_activity_view' %}"><button class="btn btn-primary">
               <i class="bi bi-plus-lg me-2"></i>Create Activity
            </button></a>
        </div>


        <div class="dashboard-section" id="booked_activities" style="display:none;">
            <h2>My Booked Activities</h2>
            <div class="row g-4">
                {% for booking in booked_activities %}
                <div class="col-md-6">
                    <div class="card" style="color: aliceblue;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3 class="card-title">{{ booking.activity.name }}</h3>
                            <span class="badge bg-primary">{{ booking.status }}</span>
                        </div>
                        <div class="card-body">
                            <p><i class="bi bi-calendar3 me-2"></i>{{ booking.activity.start_date|date:"M d, Y" }}</p>
                            <p><i class="bi bi-clock me-2"></i>{{ booking.activity.start_date|time:"H:i" }}</p>
                            <p><i class="bi bi-geo-alt me-2"></i>{{ booking.activity.location }}</p>
                            {% if booking.activity.created_by %}
                            <a href="{% url 'accounts:host_profile' host_id=booking.activity.created_by.id %}" class="btn btn-outline-primary w-100 mt-3">About Host</a>
                        {% else %}
                            <p>No host available.</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No activities booked yet.</p>
                {% endfor %}
            </div>
        </div>


        <div class="dashboard-section" id="requests">
            

        

            <div class="dashboard-section mb-4"id="filter-section">

                <form method="get" id="filter-form">
                    <h2 class="d-flex justify-content-between align-items-center">
                        Pending Requests

                        <div class="input-group ms-3" style="max-width: 300px;">
                            <select name="activity_id" class="form-select form-select-sm" onchange="this.form.submit()">
                                <option value="">All Activities</option>
                                {% for activity in activities %}
                                <option value="{{ activity.id }}" {% if selected_activity and activity.id == selected_activity.id %}selected{% endif %}>
                                    {{ activity.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                </form>
            </div>
        

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Game</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in bookings %}
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="{% url 'accounts:profile' %}">{{ request.user.username }}</a>
                                </div>
                            </td>
                            <td>{{ request.activity.name.name }}</td>
                            <td>{{ request.activity.start_date|date:"M d, Y" }}</td>
                            <td>{{ request.activity.start_date|time:"H:i" }}</td>
                            <td><span class="badge bg-warning">{{ request.status }}</span></td>
                            <td>
                                <form method="post" action="{% url 'dashboards:user_dashboard_view' %}" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="booking_id" value="{{ request.id }}">
                                    <input type="hidden" name="action" value="accept">
                                    <button class="btn btn-success btn-sm me-1 g-4">Accept</button>
                                </form>
                                <form method="post" action="{% url 'dashboards:user_dashboard_view' %}" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="booking_id" value="{{ request.id }}">
                                    <input type="hidden" name="action" value="reject">
                                    <button class="btn btn-danger btn-sm">Reject</button>
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No pending requests.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="dashboard-section" id="activities" style="display:none;">
            <h2>My Activities</h2>
            <div class="row g-4">
                {% for activity in activities %}
                <div class="col-md-6">
                    <div class="activity-card">
                        <div class="activity-header">
                            <h3>{{ activity.name }}</h3>
                            <span class="badge bg-success">Active</span>
                        </div>
                        <div class="activity-details">
                            <p><i class="bi bi-calendar3 me-2"></i>{{ activity.start_date|date }}</p>
                            <p><i class="bi bi-clock me-2"></i>{{ activity.start_date|time }}</p>
                            <p><i class="bi bi-people me-2"></i>{{ activity.person_limit }} Players</p>
                            <p><i class="bi bi-geo-alt me-2"></i>{{ activity.location }}</p>
                        </div>
                        <div class="activity-footer">
                            <a href="{% url 'activities:detail_activity_view' activity.id %}"><button class="btn btn-outline-primary btn-sm">View Details</button></a>
                            <a href="{% url 'activities:delete_activity' activity.id %}"><button class="btn btn-outline-danger btn-sm">Cancel</button></a>
                            <a href="{% url 'activities:update_activity_view' activity.id %}"><button class="btn btn-outline-primary btn-sm">Update</button></a>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <p>No activities created yet.</p>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<script>

function showSection(sectionId) {
    const sections = document.querySelectorAll('.dashboard-section');
    sections.forEach(function(section) {
        section.style.display = 'none'; 
    });

    const activeSection = document.getElementById(sectionId);
    if (activeSection) {
        activeSection.style.display = 'block'; 
    }


    const filterSection = document.getElementById('filter-section');
    if (filterSection) {
        filterSection.style.display = 'block';
    }
}
</script>

{% endblock %}
